<div class="container-fluid">
    <div class="card custom-card px-5">
        <div class="card-body">
          <h5 class="card-title text-center pb-2 pt-3">Welcome back !</h5>
            <form class="form"  [formGroup]="registerForm" (ngSubmit)="send()"  >
                <div class="form-group mt-4">
                    <input formControlName="name" type="text" [ngClass]="{'form-control mt-2 p-2 px-3': true, 'error': registerForm.controls['name'].invalid && registerForm.controls['name'].touched }" placeholder="First name">
                </div>

                <div class="form-group mt-4">
                    <input formControlName="lastname" type="text" [ngClass]="{'form-control mt-2 p-2 px-3': true, 'error': registerForm.controls['lastname'].invalid && registerForm.controls['lastname'].touched }" placeholder="Last name">
                </div>
                
                <div class="form-group mt-4">
                    <input formControlName="email" type="email" [ngClass]="{'form-control mt-2 p-2 px-3': true, 'error': registerForm.controls['email'].invalid && registerForm.controls['email'].touched }" placeholder="E-mail">
                </div>

                <div class="form-group mt-4">
                    <input formControlName="password" type="password" [ngClass]="{'form-control mt-2 p-2 px-3': true, 'error': registerForm.controls['password'].invalid && registerForm.controls['password'].touched }" placeholder="Password">
                </div>
                <div  class="text-center mt-4 d-block">
                    <button type="submit" [disabled]="registerForm.invalid"  >Login</button>
                </div>

                <div class="my-3">
                    <p class="text-center my-2 pb-3 link">You you have an account ? <a href="" class="btn px-0">Login</a></p>
                </div>
            </form>
        </div>
      </div>
</div>