<div class="container-fluid">
    <div class="header bg-white">
        <div class="header__left-side">
                <p class="logo">Adress Book</p>
                <p class="py-1" routerLink="/home/list" >list</p>
                <p class="active py-1" routerLink="/home/ajout" >Add</p>
        </div>
        <div class="header__right-side">
            <p class="btn" (click)="logout()" >Log out</p>
        </div>
    </div>

    <h5 class="card-title text-center pb-2 pt-3 my-5">Welcome {{ user.name + ' ' + user.lastname }} !</h5>

    
    <router-outlet></router-outlet>
    


</div>