<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">Create New Client</h4>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">

                <form [formGroup]="clientForm" (ngSubmit)="send()" >
                    <div class="row mb-4">
                        <label for="Clientname" class="col-form-label col-lg-2">Client Name</label>
                        <div class="col-lg-10">
                            <input  formControlName="fullname"  id="Clientname" name="Clientname" type="text"
                                class="form-control m-2" placeholder="Enter Client Name...">
                            @if(clientForm.controls['fullname'].touched && clientForm.controls['fullname'].invalid){
                                <p class="text-danger">invalid name</p>
                            }
                         </div>
                    </div>
                    <div class="row mb-4">
                        <label for="Clientemail" class="col-form-label col-lg-2">Client
                            email</label>
                        <div class="col-lg-10">
                            <input formControlName="email" id="Clientemail" name="Clientname" type="text"
                            class="form-control m-2" placeholder="Enter Client email...">

                            @if(clientForm.controls['email'].touched && clientForm.controls['email'].invalid){
                                <p class="text-danger">invalid email</p>
                            }
                        </div>
                    </div>
                    <div class="row mb-4">
                        <label for="Clienttel" class="col-form-label col-lg-2">Client Tel</label>
                        <div class="col-lg-10">
                            <input formControlName="tel" id="Clientetel" name="Clientname" type="text"
                            class="form-control m-2" placeholder="Enter Client tel...">
                            @if(clientForm.controls['tel'].touched && clientForm.controls['tel'].invalid){
                                <p class="text-danger">invalid tel</p>
                            }
                        </div>
                    </div>
                    <div class="row mb-4">
                        <label for="Clientaddress" class="col-form-label col-lg-2">Client
                            Address</label>
                        <div class="col-lg-10">
                            <input formControlName="address" id="Clienteaddress" name="Clientname" type="text"
                            class="form-control m-2"  placeholder="Enter Client address...">

                            @if(clientForm.controls['address'].touched && clientForm.controls['address'].invalid){
                                <p class="text-danger">invalid address</p>
                            }
                        </div>
                    </div>

                    <div class="row mb-4">
                        <label class="col-form-label col-lg-2">Image</label>
                        <div class="col-lg-10 text-center ">
                            <div class="dropzone pt-5">
                                <div class="fallback">
                                    <input (change)="selectImage($event)" id="image" 
                                        style="display: none;" name="file" type="file" />
                                </div>

                                <label for="image">
                                    <div class="dz-message needsclick">
                                        <div class="mb-3">
                                            <i class="display-4 text-muted bx bxs-cloud-upload"></i>
                                        </div>

                                        <h4>Drop files here or click to upload.</h4>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-lg-10">
                            <button [disabled]="clientForm.invalid" type="submit" class="btn btn-primary">Create Client</button>
                        </div>
                    </div>




                </form>

            </div>
        </div>
    </div>
</div>
