<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Frontend</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <!-- Bootstrap Css -->
    <link href="assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

</head>

<body data-sidebar="dark">

    <!-- Begin page -->
    <div id="layout-wrapper">


        <header id="page-topbar">
            <div class="navbar-header">
                <div class="d-flex">
                    <!-- LOGO -->
                    <div class="navbar-brand-box">
                        <a href="index.html" class="logo logo-dark">
                            <span class="logo-sm">
                                <img src="assets/bigLogo.png" alt="" height="22">
                            </span>
                            <span class="logo-lg">
                                <img src="assets/bigLogo.png" alt="" height="17">
                            </span>
                        </a>

                        <a href="index.html" class="logo logo-light">
                            <span class="logo-sm">
                                <img src="assets/bigLogo.png" alt="" height="22">
                            </span>
                            <span class="logo-lg text-light">
                                <img src="assets/bigLogo.png" alt="" height="19">
                                YOLIO CAREER
                            </span>
                        </a>
                    </div>

                    <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect"
                        id="vertical-menu-btn">
                        <i class="fa fa-fw fa-bars"></i>
                    </button>

                </div>

                <div class="d-flex">

                    <div class="dropdown d-inline-block">
                        <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="rounded-circle header-profile-user" src="assets/images/profile-img.png"
                                alt="Header Avatar">
                            <span class="d-none d-xl-inline-block ms-1" key="t-henry"> Admin Admin </span>
                            <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end">
                            <!-- item-->
                            <a class="dropdown-item" href="contacts-profile.html"><i
                                    class="bx bx-user font-size-16 align-middle me-1"></i> <span
                                    key="t-profile">Profile</span></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger"><i
                                    class="bx bx-power-off font-size-16 align-middle me-1 text-danger"></i> <span
                                    key="t-logout">Logout</span></a>
                        </div>
                    </div>

                </div>
            </div>
        </header>

        <div class="vertical-menu">

            <div data-simplebar class="h-100">

                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Admin Menu Start -->

                    <ul class="metismenu list-unstyled" id="side-menu">
                        <li class="menu-title" key="t-menu">Menu</li>

                        <li>
                            <a href="javascript: void(0);" class="waves-effect">
                                <i class="bx bx-home-circle"></i>
                                <span key="t-dashboards">Dashboards</span>
                            </a>

                        </li>

                        <li>
                            <a class="has-arrow waves-effect">
                                <i class="bx bx-layout"></i>
                                <span key="t-layouts">Clients management</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript: void(0);" class="has-arrow waves-effect">
                                <i class="bx bx-briefcase-alt-2"></i>
                                <span key="t-projects">Projects</span>
                            </a>

                        </li>

                        <li>
                            <a href="javascript: void(0);" class="has-arrow waves-effect">
                                <i class="bx bxs-user-detail"></i>
                                <span key="t-contacts">Employers</span>
                            </a>
                        </li>

                    </ul>

                </div>
                <!-- Sidebar -->
            </div>
        </div>

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">


                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0 font-size-18">Create New user</h4>
                    
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                    
                                    <form >
                                        <div class="row mb-4">
                                            <label for="username" class="col-form-label col-lg-2">user Name</label>
                                            <div class="col-lg-10">
                                                <input id="username" name="username" type="text" class="form-control m-2"  placeholder="Enter user Name...">
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <label for="useremail" class="col-form-label col-lg-2">user email</label>
                                            <div class="col-lg-10">
                                                <input id="useremail" name="username" type="text" class="form-control m-2"  placeholder="Enter user email...">
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <label for="usertel" class="col-form-label col-lg-2">user Tel</label>
                                            <div class="col-lg-10">
                                                <input id="useretel" name="username" type="text" class="form-control m-2"  placeholder="Enter user tel...">
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <label for="usertel" class="col-form-label col-lg-2">user Password</label>
                                            <div class="col-lg-10">
                                                <input id="useretel" name="username" type="password" class="form-control m-2"     placeholder="Enter user pass...">
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <label class="col-form-label col-lg-2">user fonction</label>
                                            <div class="col-lg-10">
                                                <div class="input-group">
                                                    <input id="usereaddress" 
                                                        name="username" type="text" class="form-control" placeholder="Enter tag...">
                    
                                                    <button class="btn btn-primary"  type="button">Add</button>
                                                </div>
                                            </div>
                    
                                        </div>
                    
                                     
                    
                                        <div class="row mb-4">
                                            <label class="col-form-label col-lg-2">Image</label>
                                            <div class="col-lg-10 text-center ">
                                                <div class="dropzone pt-5">
                                                    <div class="fallback">
                                                        <input id="image"  style="display: none;" name="file"
                                                            type="file" />
                                                    </div>
                    
                                                    <label for="image">
                                                        <div class="dz-message needsclick">
                                                            <div class="mb-3">
                                                                <i class="display-4 text-muted bx bxs-cloud-upload"></i>
                                                            </div>
                    
                                                            <h4>Drop files here or click to upload.</h4>
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row justify-content-end">
                                            <div class="col-lg-10">
                                                <button type="submit" class="btn btn-primary">Create user</button>
                                            </div>
                                        </div>
                    
                    
                    
                    
                                    </form>
                    
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->




            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            © GRH.
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-end d-none d-sm-block">
                                Design & Develop by YOLIO CAREER
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->


    <!-- JAVASCRIPT -->
    <script src="assets/libs/jquery/jquery.min.js"></script>
    <script src="assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="assets/libs/simplebar/simplebar.min.js"></script>
    <script src="assets/libs/node-waves/waves.min.js"></script>

    <!-- apexcharts -->
    <script src="assets/libs/apexcharts/apexcharts.min.js"></script>

    <!-- dashboard init -->
    <script src="assets/js/pages/dashboard.init.js"></script>

    <!-- App js -->
    <script src="assets/js/app.js"></script>
</body>

</html>