<h5 class="section-title text-center pb-2 pt-3 my-5">Hero App Ajout</h5>

<div class="container my-5">
    <div class="form row">
        <div class="form-group mt-4 col-3">
            <input [(ngModel)]="hero.name"  type="text" class="form-control mt-2 p-2 px-3" placeholder="name">
        </div>

        <div class="form-group mt-4 col-3">
            <input [(ngModel)]="hero.power" type="text" class="form-control mt-2 p-2 px-3" placeholder="power">
        </div>
       
        <div class="form-group mt-4 col-3">
            <input [(ngModel)]="hero.image" type="text" class="form-control mt-2 p-2 px-3" placeholder="image">
        </div>
        
        <!-- <div class="form-group my-4 col-3">
            <label for="fileInput" class="d-block my-2">
                <p class="form-control file mt-2">
                    <span class="btn-uploadfile"><img src="assets/upload.svg" alt=""></span>
                </p>
            </label>
            <input type="file" id="fileInput" name="fileInput" dir="rtl" placeholder="Title">
        </div> -->

        <div class="text-center my-4 py-2 px-0 col-3">
            <button (click)="ajout()" >Save</button>
        </div>


    </div>
</div>