<div class="container my-5">
    <div class=" card card-list ">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table mt-3">
                    <thead>
                        <tr>
                            <th scope="col" class="">#</th>
                            <th scope="col" class="">image</th>
                            <th scope="col" class="">Firstname</th>
                            <th scope="col" class="">Lastname</th>
                            <th scope="col" class="">Email</th>
                            <th scope="col" class="">Tel</th>
                            <th scope="col" class="">Adress</th>
                            <th scope="col" class="">Options</th>
                        </tr>
                    </thead>
    
                    <tbody>
                        <tr>
                            <td class="py-3">1</td>
                            <td  class="avatar-md">
                                <img src="assets/user.png" alt="">
                            </td>
                            <td class="fw-regular py-3"> Malek  </td>
                            <td class="fw-regular py-3"> Ben Abdallah </td>
                            <td class="fw-regular py-3"> MalekBN.ABgmail.com </td>
                            <td class="fw-regular py-3">+216 23 254 289  </td>
                            <td class="fw-regular py-3 "> 28 | 04 | 2023 </td>
                        
                            <td class="py-3 d-flex flex-nowrap">
    
                                <button 
                                    class="btn btn-success  rounded-3 waves-effect  p-icon me-1">
                                    <img style="width: 20px;"
                                        src="assets/edit-icon.svg" alt="">
                                </button>
    
    
                                <button type="button"
                                    class="btn btn-danger rounded-3 waves-effect p-icon mx-2">
                                    <img src="assets/delete-icon.svg" alt="">
                                </button>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-3">1</td>
                            <td  class="avatar-md">
                                <img src="assets/user.png" alt="">
                            </td>
                            <td class="fw-regular py-3"> Malek  </td>
                            <td class="fw-regular py-3"> Ben Abdallah </td>
                            <td class="fw-regular py-3"> MalekBN.ABgmail.com </td>
                            <td class="fw-regular py-3">+216 23 254 289  </td>
                            <td class="fw-regular py-3"> 28 | 04 | 2023 </td>
                        
                            <td class="py-3 d-flex flex-nowrap">
    
                                <button 
                                    class="btn btn-success  rounded-3 waves-effect  p-icon me-1">
                                    <img style="width: 20px;"
                                        src="assets/edit-icon.svg" alt="">
                                </button>
    
    
                                <button type="button"
                                    class="btn btn-danger rounded-3 waves-effect p-icon mx-2">
                                    <img src="assets/delete-icon.svg" alt="">
                                </button>
                            </td>
                        </tr>

                        <tr>
                            <td class="py-3">1</td>
                            <td  class="avatar-md">
                                <img src="assets/user.png" alt="">
                            </td>
                            <td class="fw-regular py-3"> Malek  </td>
                            <td class="fw-regular py-3"> Ben Abdallah </td>
                            <td class="fw-regular py-3"> MalekBN.ABgmail.com </td>
                            <td class="fw-regular py-3">+216 23 254 289  </td>
                            <td class="fw-regular py-3"> 28 | 04 | 2023 </td>
                        
                            <td class="py-3 d-flex flex-nowrap">
    
                                <button 
                                    class="btn btn-success  rounded-3 waves-effect  p-icon me-1">
                                    <img style="width: 20px;"
                                        src="assets/edit-icon.svg" alt="">
                                </button>
    
    
                                <button type="button"
                                    class="btn btn-danger rounded-3 waves-effect p-icon mx-2">
                                    <img src="assets/delete-icon.svg" alt="">
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td class="py-3">1</td>
                            <td  class="avatar-md">
                                <img src="assets/user.png" alt="">
                            </td>
                            <td class="fw-regular py-3"> Malek  </td>
                            <td class="fw-regular py-3"> Ben Abdallah </td>
                            <td class="fw-regular py-3"> MalekBN.ABgmail.com </td>
                            <td class="fw-regular py-3">+216 23 254 289  </td>
                            <td class="fw-regular py-3"> 28 | 04 | 2023 </td>
                        
                            <td class="py-3 d-flex flex-nowrap">
    
                                <button 
                                    class="btn btn-success  rounded-3 waves-effect  p-icon me-1">
                                    <img style="width: 20px;"
                                        src="assets/edit-icon.svg" alt="">
                                </button>
    
    
                                <button type="button"
                                    class="btn btn-danger rounded-3 waves-effect p-icon mx-2">
                                    <img src="assets/delete-icon.svg" alt="">
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
    
            </div>
        </div>
    </div>
</div>