<div class="account-pages my-5 pt-sm-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card overflow-hidden">
                    <div class="bg-primary bg-soft">
                        <div class="row">
                            <div class="col-7">
                                <div class="text-primary p-4">
                                    <h5 class="text-primary">Welcome Back !</h5>
                                    <p>Sign in to continue to YOLIO.</p>
                                </div>
                            </div>
                            <div class="col-5 align-self-end">
                                <img src="assets/images/profile-img.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <div class="auth-logo">

                            <a class="auth-logo-dark">
                                <div class="avatar-md profile-user-wid mb-4">
                                    <span class="avatar-title rounded-circle bg-light">
                                        <img src="assets/bigLogo.png" alt="" class="rounded-circle" height="34">
                                    </span>
                                </div>
                            </a>
                        </div>
                        <div class="p-2">
                            <form [formGroup]="loginForm" (ngSubmit)="login()"  class="form-horizontal">

                                <div class="mb-3">
                                    <label for="username" class="form-label">E-mail</label>
                                    <input formControlName="email" type="email" placeholder="E-mail" class="form-control m-2">
                                    @if(loginForm.controls['email'].touched && loginForm.controls['email'].invalid){
                                        <p class="text-danger">invalid email</p>
                                    }
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Password</label>
                                    <div class="input-group auth-pass-inputgroup">
                                        <input formControlName="password" type="password" placeholder="Password" class="form-control m-2">
                                        
                                        
                                    </div>
                                    @if(loginForm.controls['password'].touched && loginForm.controls['password'].invalid){
                                        <p class="text-danger">invalid password</p>
                                    }
                                </div>

                                <div class="mt-3 d-grid">
                                    <button [disabled]="loginForm.invalid" class="btn btn-primary waves-effect waves-light" type="submit">Log
                                        In</button>
                                </div>




                            </form>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>