
<div class="container my-5">
    <div class=" card card-list p-3">
        <p class="update-title p-2">Update Amine Adress</p>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div>
                    <img src="assets/logo.svg" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 form-col">
                <div class="form">
                    <div class="form-group mt-4">
                        <input type="text" class="form-control mt-2 p-2 px-3" placeholder="First name">
                    </div>
    
                    <div class="form-group mt-4">
                        <input type="text" class="form-control mt-2 p-2 px-3" placeholder="Last name">
                    </div>
                    
                    <div class="form-group mt-4">
                        <input type="text" class="form-control mt-2 p-2 px-3" placeholder="E-mail">
                    </div>
    
                   <div class="form-group mt-4">
                        <input type="text" class="form-control mt-2 p-2 px-3" placeholder="Password">
                    </div> 
                    
                    <div class="form-group my-4">
                        <label for="fileInput" class="d-block my-2">
                            <p class="form-control file mt-2">
                                <span  class="btn-uploadfile"><img src="assets/upload.svg" alt=""></span>
                            </p>
                        </label>
                        <input type="file" id="fileInput" name="fileInput" dir="rtl"  placeholder="Title">
                    </div>

                    <div class="text-center mt-4 d-block">
                        <button>Save</button>
                    </div>
    

                </div>
            </div>
        </div>
    </div>
</div>