<h5 class="section-title text-center pb-2 pt-3 my-5">Hero App List</h5>

  <div class="container my-5">
      <div class="row">
          <div class="col-lg-4 col-md-6 col-12">
              <div class="card card-list my-3">
                  <div class="card-body">
                      <img src="assets/hero-img.png" class="card-img-top" alt="">
                      <div class="card-title my-2">
                          Monkey D Luffy
                      </div>
                      <div class="card-body d-flex justify-content-between">
                          <p class="card-desc-text">178</p>
                          <div>
                              <button class="btn btn-success  rounded-3 waves-effect  p-icon me-1">
                                  <img style="width: 20px;" src="assets/edit-icon.svg" alt="">
                              </button>


                              <button type="button" class="btn btn-danger rounded-3 waves-effect p-icon mx-2">
                                  <img src="assets/delete-icon.svg" alt="">
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 col-12">
              <div class="card card-list my-3">
                  <div class="card-body">
                      <img src="assets/hero-img.png" class="card-img-top" alt="">
                      <div class="card-title my-2">
                          Monkey D Luffy
                      </div>
                      <div class="card-body d-flex justify-content-between">
                          <p class="card-desc-text">178</p>
                          <div>
                              <button class="btn btn-success  rounded-3 waves-effect  p-icon me-1">
                                  <img style="width: 20px;" src="assets/edit-icon.svg" alt="">
                              </button>


                              <button type="button" class="btn btn-danger rounded-3 waves-effect p-icon mx-2">
                                  <img src="assets/delete-icon.svg" alt="">
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>


          <div class="col-lg-4 col-md-6 col-12">
              <div class="card card-list my-3">
                  <div class="card-body">
                      <img src="assets/hero-img.png" class="card-img-top" alt="">
                      <div class="card-title my-2">
                          Monkey D Luffy
                      </div>
                      <div class="card-body d-flex justify-content-between">
                          <p class="card-desc-text">178</p>
                          <div>
                              <button class="btn btn-success  rounded-3 waves-effect  p-icon me-1">
                                  <img style="width: 20px;" src="assets/edit-icon.svg" alt="">
                              </button>


                              <button type="button" class="btn btn-danger rounded-3 waves-effect p-icon mx-2">
                                  <img src="assets/delete-icon.svg" alt="">
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>


          <div class="col-lg-4 col-md-6 col-12">
              <div class="card card-list my-3">
                  <div class="card-body">
                      <img src="assets/hero-img.png" class="card-img-top" alt="">
                      <div class="card-title my-2">
                          Monkey D Luffy
                      </div>
                      <div class="card-body d-flex justify-content-between">
                          <p class="card-desc-text">178</p>
                          <div>
                              <button class="btn btn-success  rounded-3 waves-effect  p-icon me-1">
                                  <img style="width: 20px;" src="assets/edit-icon.svg" alt="">
                              </button>


                              <button type="button" class="btn btn-danger rounded-3 waves-effect p-icon mx-2">
                                  <img src="assets/delete-icon.svg" alt="">
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 col-12">
              <div class="card card-list my-3">
                  <div class="card-body">
                      <img src="assets/hero-img.png" class="card-img-top" alt="">
                      <div class="card-title my-2">
                          Monkey D Luffy
                      </div>
                      <div class="card-body d-flex justify-content-between">
                          <p class="card-desc-text">178</p>
                          <div>
                              <button class="btn btn-success  rounded-3 waves-effect  p-icon me-1">
                                  <img style="width: 20px;" src="assets/edit-icon.svg" alt="">
                              </button>


                              <button type="button" class="btn btn-danger rounded-3 waves-effect p-icon mx-2">
                                  <img src="assets/delete-icon.svg" alt="">
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>