<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Admin Menu Start -->

            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" key="t-menu">Menu</li>

                @if(user.role == 'admin'){ 
                    <li>
                        <a routerLink="/dashboard/statistics" class="waves-effect">
                            <i class="bx bx-home-circle"></i>
                            <span key="t-dashboards">Dashboards</span>
                        </a>
    
                    </li>
                }

                @if(user.role == 'admin'){
                    <li>
                        <a routerLink="/dashboard/clients" class="has-arrow waves-effect">
                            <i class="bx bx-layout"></i>
                            <span key="t-layouts">Clients management</span>
                        </a>
                    </li>
                }

                <li>
                    <a routerLink="/dashboard/projects" class="has-arrow waves-effect">
                        <i class="bx bx-briefcase-alt-2"></i>
                        <span key="t-projects">Projects</span>
                    </a>

                </li>

               @if(user.role == 'admin'){
                <li>
                    <a routerLink="/dashboard/employers" class="has-arrow waves-effect">
                        <i class="bx bxs-user-detail"></i>
                        <span key="t-contacts">Employers</span>
                    </a>
                </li>
               }

            </ul>

        </div>
        <!-- Sidebar -->
    </div>
</div>