<h5 class="section-title text-center pb-2 pt-3 my-5">Hero App</h5>

<div class="container my-5 text-center">
    <div>
        <img src="assets/404.svg" class="img-notfound" alt="">
    </div>
    <p class="notfound">Oupsy... Page not found !</p>
    <p class="message">Don’t worry, our team here to help</p>

    <div class="social-media">
        <span>
            <img src="assets/facebook-icon.svg" alt="">
        </span>
        <span>
            <img src="assets/instagram-icon.svg" alt="">
        </span>
        <span>
            <img src="assets/youtube-icon.svg" alt="">
        </span>
        <span>
            <img src="assets/linkedin.svg" alt="">
        </span>
    </div>
</div>
