<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">Projects List</h4>

            <div class="page-title-right">
                <button routerLink="/dashboard/projects/ajout" class="btn btn-primary">Create</button>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-lg-12">
        <div class="">
            <div class="table-responsive">
                <table class="table project-list-table table-nowrap align-middle table-borderless">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 100px">#</th>
                            <th scope="col">Projects</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">End Date</th>
                            <th scope="col">Status</th>
                            <th scope="col">Team</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        @for(project of projects; track project._id){
                        <tr>
                            <td><img [src]="'http://127.0.0.1:3000/files/' + project.client.image" alt=""
                                    class="avatar-sm">
                            </td>
                            <td>
                                <h5 class="text-truncate font-size-14"><a href="javascript: void(0);" class="text-dark">
                                        {{ project.name }} </a></h5>
                                <p class="text-muted mb-0"> {{ project.description.substring(0, 30) }} ... </p>
                            </td>
                            <td>  {{ project.startDate }} </td>
                            <td> {{ project.endDate }} </td>
                            <td>
                                @switch (project.status) {
                                    @case ('pending') {
                                        <span class="badge bg-warning"> pending </span>
                                    }
                                    @case('completed'){
                                        <span class="badge bg-success"> completed </span>
                                    }
                                    @default {
                                        <span class="badge bg-danger"> delay </span>
                                    }
                                }
                            </td>
                            <td>
                                <div class="avatar-group">


                                    @for(user of project.team; track user._id){
                                        
                                        <div class="avatar-group-item">
                                            <a class="d-inline-block">
                                                <img [src]="'http://127.0.0.1:3000/files/' + user.image" alt=""
                                                    class="rounded-circle avatar-xs">
                                            </a>
                                        </div>
                                    }
                                  



                                </div>
                            </td>
                            <td>
                                <ul class="list-inline font-size-20 contact-links mb-0">
                                    <li class="list-inline-item px-2">
                                        <a [routerLink]="['/dashboard/projects/preview', project._id]"
                                            title="Message"><i class="bx bx-show"></i></a>
                                    </li>
                                    <li class="list-inline-item px-2">
                                        <a [routerLink]="['/dashboard/projects/update', project._id ]" title="Message"><i
                                                class="bx bx-pencil"></i></a>
                                    </li>
                                    <li class="list-inline-item px-2">
                                        <a (click)="delete(project._id)" title="Profile"><i class="bx bx-trash"></i></a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- end row -->