<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">Users Grid</h4>

            <div class="page-title-right">
                <button routerLink="/dashboard/employers/ajout" class="btn btn-primary">Create</button>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">

    <div class="col-xl-3 col-sm-6">
        <div class="card text-center">
            <div class="card-body">
                <div class="avatar-sm mx-auto mb-4">
                    <span
                        class="avatar-title rounded-circle bg-primary bg-soft text-primary font-size-16">
                        <img  src="assets/images/users/avatar-2.jpg"
                            class="w-100 rounded-circle" alt="">
                    </span>
                </div>
                <h5 class="font-size-15 mb-1"><a class="text-dark"> Ahme ben ahmed </a></h5>
                <p class="text-muted">Ahmedgmail.com </p>

                <div>
                   
                    <a href="javascript: void(0);" class="badge bg-primary font-size-11 m-1">UI/UX</a>
                    <a href="javascript: void(0);" class="badge bg-primary font-size-11 m-1">design</a>
                    
                </div>
            </div>
            <div class="card-footer bg-transparent border-top">
                <div class="contact-links d-flex font-size-20">
                    <div class="flex-fill w-50">
                        <a href="javascript: void(0);"> +216 33222112 </a>
                    </div>
                    <div class="flex-fill">
                        <a [routerLink]="['/dashboard/employers/update', 'qdqdqsd']" ><i
                                class="bx bx-pencil"></i></a>
                    </div>
                    <div class="flex-fill">
                        <a ><i class="bx bx-trash"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
<!-- end row -->
