<div class="container-fluid">
    <div class="card custom-card px-5">
        <div class="card-body">
          <h5 class="card-title text-center pb-2 pt-3">Welcome back !</h5>
            <form class="form" [formGroup]="loginForm" (ngSubmit)="send()"  >
                <div class="form-group mt-4">
                    <input formControlName="email" type="text" [ngClass]="{ 'form-control mt-2 p-2 px-3': true, 'error': loginForm.controls['email'].invalid && loginForm.controls['email'].touched}" placeholder="E-mail"> 
                </div>

                <div class="form-group mt-4">
                    <input formControlName="password" type="text" [ngClass]="{ 'form-control mt-2 p-2 px-3': true, 'error': loginForm.controls['password'].invalid && loginForm.controls['password'].touched}" placeholder="Password">
                </div>
                
                <div class="text-center mt-4 d-block">
                    <button type="submit" [disabled]=" loginForm.invalid " >Login</button>
                </div>

                <div class="my-3">
                    <p class="text-center my-2 pb-3 link">You don't have an account ? <a href="" class="btn px-0">Register Now</a></p>
                </div>
            </form>
        </div>
      </div>
</div>