
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">Create New user</h4>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">

                <form [formGroup]="userForm" (ngSubmit)="save()" >
                    <div class="row mb-4">
                        <label for="username" class="col-form-label col-lg-2">user Name</label>
                        <div class="col-lg-10">
                            <input formControlName="fullname" id="username" name="username" type="text" class="form-control m-2"  placeholder="Enter user Name...">
                            @if(userForm.controls['fullname'].touched && userForm.controls['fullname'].invalid){
                                <p class="text-danger">invalid name</p>
                            }
                        </div>
                    </div>
                    <div class="row mb-4">
                        <label for="useremail" class="col-form-label col-lg-2">user email</label>
                        <div class="col-lg-10">
                            <input formControlName="email" id="useremail" name="username" type="text" class="form-control m-2"  placeholder="Enter user email...">
                            @if(userForm.controls['email'].touched && userForm.controls['email'].invalid){
                                <p class="text-danger">invalid email</p>
                            }
                        </div>
                    </div>
                    <div class="row mb-4">
                        <label for="usertel" class="col-form-label col-lg-2">user Tel</label>
                        <div class="col-lg-10">
                            <input formControlName="tel" id="useretel" name="username" type="text" class="form-control m-2"  placeholder="Enter user tel...">
                            @if(userForm.controls['tel'].touched && userForm.controls['tel'].invalid){
                                <p class="text-danger">invalid tel</p>
                            }
                        </div>
                    </div>
                    <div class="row mb-4">
                        <label for="usertel" class="col-form-label col-lg-2">user Password</label>
                        <div class="col-lg-10">
                            <input formControlName="password" id="useretel" name="username" type="password" class="form-control m-2"     placeholder="Enter user pass...">
                            @if(userForm.controls['password'].touched && userForm.controls['password'].invalid){
                                <p class="text-danger">invalid password</p>
                            }
                        </div>
                    </div>
                    <div class="row mb-4">
                        <label class="col-form-label col-lg-2">user fonction</label>
                        <div class="col-lg-10">
                            <div class="input-group">
                                <input id="usereaddress" [(ngModel)]="singleTag" [ngModelOptions]="{standalone: true}"
                                    name="username" type="text" class="form-control" placeholder="Enter tag...">

                                <button (click)="createTag()" class="btn btn-primary"  type="button">Add</button>
                            </div>

                            @for(tag of tags; track tag; let i = $index){
                                <button (click)="deleteTag(i)" class="btn btn-outline-dark">{{tag}}</button>
                            }
                        </div>

                    </div>

                 

                    <div class="row mb-4">
                        <label class="col-form-label col-lg-2">Image</label>
                        <div class="col-lg-10 text-center ">
                            <div class="dropzone pt-5">
                                <div class="fallback">
                                    <input (change)="selectImage($event)" id="image"  style="display: none;" name="file"
                                        type="file" />
                                </div>

                                <label for="image">
                                    <div class="dz-message needsclick">
                                        <div class="mb-3">
                                            <i class="display-4 text-muted bx bxs-cloud-upload"></i>
                                        </div>

                                        <h4>Drop files here or click to upload.</h4>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-lg-10">
                            <button type="submit" [disabled]="userForm.invalid "  class="btn btn-primary">Create user</button>
                        </div>
                    </div>




                </form>

            </div>
        </div>
    </div>
</div>